includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 10
    paths:
        - src
    excludePaths:
        - src/Integration/Laravel/config
    tmpDir: .phpstan-cache
